<header class="site-header">
  <div class="container">
    <input type="checkbox" id="toggleNavbar">
    <h1 class="logo">
      <a href="{{ "/" | prepend: site.baseurl }}" style="text-transform:capitalize;">
        Jovan
        <span>
          Franco
        </span>
      </a>
    </h1>
    <label for="toggleNavbar" role="button" class="toggle-navbar-button">
      <i class="icon icon-menu"></i>
      <i class="icon icon-cross"></i>
    </label>
    <nav class="navbar">
      <ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}" style="text-transform:capitalize;" title="Home">Home</a></li>
        <li><a href="/about"  style="text-transform:none;" title="Sobre mí">Sobre mí</a></li>
        <li><a href="/blog" style="text-transform:none;" title="Blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
